@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #111827; /* bg-gray-900 */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* --- Custom Amplify Authenticator Styles --- */
[data-amplify-authenticator] {
  --amplify-colors-background-primary: #1F2937; /* bg-gray-800 */
  --amplify-colors-background-secondary: #374151; /* bg-gray-700 */
  --amplify-colors-brand-primary-10: #e28b07; /* pink-600 */
  --amplify-colors-brand-primary-80: #e28b07; /* pink-700 */
  --amplify-colors-brand-primary-90: #e28b07; /* pink-800 */
  --amplify-colors-font-primary: #F9FAFB; /* gray-50 */
  --amplify-colors-font-secondary: #D1D5DB; /* gray-300 */
  --amplify-colors-font-tertiary: #9CA3AF; /* gray-400 */
  --amplify-colors-border-primary: #4B5563; /* gray-600 */
  --amplify-colors-border-secondary: #4B5563;
  --amplify-colors-border-tertiary: #4B5563;
  --amplify-radii-small: 0.5rem;
  --amplify-radii-medium: 0.75rem;
  --amplify-radii-large: 1rem;
}
